.ng-cloak {
	display: none;
}
body {
	margin-top: 60px;
}
iframe {
	max-width: 100%;
}
.home-container {
	padding: 0 20px;
}
.feed-container {
	margin: 0 -20px;
}
.hand {
	cursor: hand;
	cursor: pointer;
}
#nav-right {
	position: absolute;
	right: 0;
	left: auto;
}
li .btn-group + .btn-group {
	margin-left: 0;
}
.nav li .btn-group .dropdown-toggle .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}
.show-subscriptions {
	display: none;
}
.story {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #fff;
	margin: 0 -20px;
}
.story.selected {
	border-left: 1px solid #0088cc;
}
.story-header {
	position: relative;
	padding-left: 155px;
	padding-right: 120px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 33px;
	line-height: 33px;
	font-size: 13px;
}
.story-title, .feed-title, .folder-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.story-header.read .story-title strong {
	font-weight: normal !important;
}
.story-link {
	color: #333;
}
.feed-title, .folder-title {
	padding: 2px;
}
.feed-title:hover, .folder-title:hover {
	background-color: #eee;
}
.story-header.read {
	background-color: #f5f5f5;
}
.story-feed {
	width: 145px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	white-space: nowrap;
	left: 5px;
}
.story-date {
	position: absolute;
	right: 5px;
	top: 0;
}
.story-content h3 {
	margin: 0;
	margin-top: 4px;
	line-height: 24px;
}
.story-content {
	margin: 0.5em;
}
.story-content.short {
	max-width: 650px;
}
.story-footer {
	background-color: #f5f5f5;
	padding-left: 7px;
	height: 25px;
}
.active-name {
	font-weight: bold;
	padding: 10px;
}
#story-list.no-nav {
	left: 20px;
}
#feed-list:hover {
	overflow-y: auto;
}
.feed-list__close {
	display: none;
}
.active {
	color: #d14;
}
.feed-child {
	margin-left: 20px;
}
.feed-icon {
	width: 16px;
	height: 16px;
}
.all-subs {
	font-weight: bold;
	padding: 5px 0;
}
.top-margin {
	margin-top: 20px;
}
.bold {
	font-weight: bold;
}



/*
	Bootstrap overwrites
*/
.navbar {
	margin: 0 -20px 20px;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0 20px;
}
.navbar .brand {
	margin: 0 !important;
	padding-left: 36px !important;
}
a.brand {
	background-image: url("/static/icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
	padding-left: 54px !important;
}
.navbar .brand-palm {
	display: none;
	height: 20px;
}
.hero-unit h1 {
	margin-bottom: 20px;
}
.btn-login {
	font-weight: 700;
}
.alert-info {
	margin-bottom: 10px;
}

/*
	Modules
*/
.box {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 20px;
}
.box__heading {
	font-size: 22px;
}

#story-list::-webkit-scrollbar { width: 8px; height: 8px }
#story-list::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
#story-list::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
#feed-list::-webkit-scrollbar { width: 8px; }
#feed-list::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
#feed-list::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
@media (max-width: 979px) {
	body {
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 767px) {
	.navbar {
		margin: 0;
	}
	body, .story-header, .story-content, .btn {
		font-size: 14px;
	}
	#nav-right {
		position: relative;
		left: 0;
		right: auto;
	}
	a.brand {
		background-position: 0px 7px;
		padding-left: 34px !important;
		margin-left: -4px !important;
	}
	.navbar .brand-palm {
		display: inline-block;
	}
	.navbar .brand-wide {
		display: none;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.show-subscriptions {
		display: inline-block;
	}
	#feed-list {
		background: #fff;
		border-radius: 2px;
		bottom: auto;
		display: none;
		left: 20px;
		padding: 10px;
		position: absolute;
		right: 20px;
		width: auto;
		z-index: 20;
	}
	#feed-list.is-open {
		display: block !important;
	}
	.feed-list__subscribe-ul {
		padding-right: 30px;
		position: relative;
	}
	.feed-list__close {
		display: inline-block;
		font-weight: 700;
		position: absolute;
		top: 0;
		right: 0;
	}
	.feed-title, .folder-title {
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
	}
	#mask {
		display: none;
		position: fixed;
		background: black;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.8;
		z-index: 16;
	}
	#mask.is-open {
		display: block !important;
	}
	.story-header {
		padding: 0 10px;
		height: 43px;
		line-height: 43px;
	}
	.story.selected {
		border: none;
	}
	.story-content {
		margin: 0;
		padding: 0 10px;
	}
	.hero-unit {
		padding: 20px;
	}
	.hero-unit h1 {
		font-size: 40px;
	}
	.hero-unit .alert-info {
		margin: 0;
	}
}